*/.metadata/
*/RemoteSystemsTempFiles/
*/Servers/

*/net-Excelk-windows10/target/
*/net-Excelk_windows10/.classpath
*/net-Excelk_windows10/.project
*/net-Excelk_windows10/.settings/
*/net-Excelk_windows10/HELP.md

*/net_excelk_windows10/target/
*/net_excelk_windows10/.classpath
*/net_excelk_windows10/.project
*/net_excelk_windows10/.settings/
*/net_excelk_windows10/HELP.md
