*/my-excelk/.classpath
*/my-excelk/.project
*/my-excelk/.settings/
*/.metadata/
*/Servers/
*/.project
*/my-excelk/target/
*/my-excelk/HELP.md
*/RemoteSystemsTempFiles/



######완료######
STS_WorkSpace1/
STS_WorkSpace2/
STS_WorkSpace3/
STS_WorkSpace4/
